<a href="https://colab.research.google.com/github/elbrusbayramov/my_colab_space/blob/main/Practical_lesson_data_types_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_name = 'Elbioman'
my_lovely_language = 'Python'
has_dog = True
dog_age = 7
print(my_name)

In [ ]:
#if = 'Elbioman'
#1my_name = 'Elbioman'

In [ ]:
2+2

In [ ]:
#Add
a = 2
b = 3
c = a + b
print(c)

In [ ]:
#Subtract
e = 7
d = 5
f = e-d
print(f)

In [ ]:
#Multiplication
number_of_rows = 3
number_of_columns=4
total_cells =number_of_rows * number_of_columns
print(total_cells)

In [ ]:
#Division
cars = 20
drivers = 4
result = cars/drivers
print(result)

In [ ]:
cars = 20
drivers = 4
result = cars//drivers
print(result)

In [ ]:
print(5//4)

In [ ]:
print(5%3)

In [ ]:
print(6%3)

In [ ]:
a = 2
b = 3
c = (a+b)*2/(a-b)
print(c)

In [ ]:
a = 5
b = 10

perimeter = 2 * ( a + b )
area = a * b

print ("Perimeter of rectangle :" , perimeter)
print ("Area of rectangle :" , area)

print ("Perimeter of rectangle :",perimeter," and ","Area of rectangle :",area)

In [ ]:
n = 125
n = 200
n = 2000
n = 3700
hours = n//3600
minutes = (n%3600)//60
seconds = n%60
print(n," seconds are ",hours," hours, ",minutes," minutes and ",seconds," seconds")

In [ ]:
a = 24
print(type(a))

In [ ]:
i_am_a_string = str(a)
print(i_am_a_string)
print(type(i_am_a_string))

In [ ]:
b = int (i_am_a_string)
print(b)
print(type(b))

In [ ]:
c = 3.5
print(type(c))

In [ ]:
d = int (c)
print(d)
print(type(d))

In [ ]:
f = True
print(f)
print(type(f))

In [ ]:
e = int (f)
print(e)
print(type(e))

In [ ]:
b = bool (e)
print(b)
print(type(b))

In [ ]:
a = 'my number is 42'
b = int(a)

In [ ]:
# x < y - x strictly less than y ,
# x <= y - x is less than or equal to y ,
# x > y - x is strictly greater than y ,
# x >= y - x is greater than or equal to y ,
# x == y - x equals y,
# x ! = y - x is not equal to y .

In [ ]:
3 > 2 # True
3 < -5 # False
5 != 6 # five is not equal to six, this is true, so here we get True
10 == 10 # True

In [ ]:
'abc' == 'abc'

In [ ]:
'abc' > 'aba'

In [ ]:
str1 = 'hello'
str2 = 'world'
result = str1 < str2
print(result)

In [ ]:
str1 = 'apple'
str2 = 'banana'
result = str1 > str2
print(result)

In [ ]:
str1 = ' abc '
str2 = 'aba'
result = str1 > str2
print(result)

In [ ]:
a = 5
b = 10
c = 15
print ( a < b and b < c) # will return True , both conditions are true
print ( a < b and b > c) # will return False , one condition was not met

In [ ]:
age = 17
print( age < 18 or age > 60) # will return True, the first y clovie _ completed
print ( age < 16 or age > 60) # will return False , no conditions are met

In [ ]:
is_admin = True
print( not is_admin ) # will return False

In [1]:
string1 = 'Hello , world!'
string2 = "I'm a Python developer."

In [ ]:
# \n - line break
# \t - tab
# \' - single quote
# \" - double quote
# \\ - backslash

In [ ]:
string1 = '\'Python\' - most popular language !\n 2023'
print(string1)

In [ ]:
print("Hello\nworld!")
print("C:\\Users\\user\\Desktop\\main.txt")
print("Name:\tJohn ")
print('It\'s a amazing day!')
print("It's a amazing day!")